/* start content section */

.content {
    width: calc(100% - 350px);
    height: 100vh;
    margin-left: 350px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;


}

.content .box {
    background-color: #464864;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;

}

.content .title_details {
    position: relative;
    width: 50%;
}

.content .title_details h1 {
    font-size: 2vw;
    color: white;
    text-align: center;

}

.content .title_details p {
    font-size: 4vw;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;

}


.content .paret_box {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}

.content .paret_box .child_box {
    width: 100%;
    height: calc(50% - 10px);
    background-color: #2b2d42;
    border-radius: 10px;
    padding: 20px;

}

.content .paret_box .child_box h2 {
    font-size: 30px;
    color: white;

}

.content .paret_box .child_box p {
    font-size: 3.3vw;
    color: #ccdefd9d;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;

}






/* end content section */



/*----------------- start side mobile ------------------ */



.side_menu_mobile {
    width: 350px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: #1f2137;
    height: 100vh;
    padding: 20px;
    left: -355px;
    transition: 0.3s;

}

.side_menu_mobile .side_content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
    margin-top: 100px;
}

.side_menu_mobile .side_content div {
    background-color: #8d99ae;
    padding: 10px 20px;
    border-radius: 10px;
    width: 100%;
    border: 1.5px solid #ffffff;
    transition: 0.3s;
    cursor: pointer;
    height: fit-content;
    font-size: 20px;
    padding: 15px;
}

.close_menu {
    padding: 10px;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: absolute;
    right: 0;


}

.close_parent {
    width: 100%;
    position: relative;
}

.log_out {
    background-color: red !important;
    height: fit-content !important;
}



/* end side mobile */


/* start media Queray */

@media(max-width: 1320px) {
    .content {
        grid-template-columns: 1fr;
        margin-left: 280px;
        width: calc(100% - 280px);
    }

    .sidebar {
        width: 280px;
    }


}


@media (max-width: 850px) {

    /* start top section */



    .content .box .title_details h1 {
        font-size: 4vw;
    }

    .content .box .title_details p {
        font-size: 6vw;
    }

    .sidebar .top_section {
        color: white;

    }

    .sidebar .top_section p {
        display: none;
    }


    .sidebar .top_section {}


    .sidebar .top_section img {
        width: 50px;
    }



    /* end top section */




    /* start button section */
    .sidebar {
        position: relative;
        width: 100%;
        height: 90px;
        flex-direction: row-reverse;
        align-items: center;
    }

    .sidebar .bottom_section {
        display: flex;
        flex-direction: row;
    }

    .sidebar .bottom_section .line {
        width: fit-content;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sidebar .bottom_section .line h4 {
        font-size: 15px;
    }

    .sidebar .bottom_section .line h4 {
        margin: 0;
    }

    .sidebar .bottom_section .line p {
        display: none;
    }


    .sidebar .log_out {
        height: 100%;
        margin-top: 8px;
        border: none;
    }

    /* end button section */




    /* start content section */
    .content {
        width: 100%;
        margin: 0;
    }

    /* end content section */



}


@media (max-width: 790px) {

    .fa-solid {
        display: block !important;
        font-size: 25px;
    }

    .sidebar {
        width: 100vw;
        
    }

    .sidebar .bottom_section .line {
        display: none;
    }

    .sidebar .top_section {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
    }



    .sidebar .top_section {
        height: 100%;

        margin: 0;
        align-items: center;
        display: flex;

    }

    .sidebar .top_section img {
        margin: 0;

    }

    .content .box .title_details h1 {
        font-size: 5vw;
        line-height: 1.4;
    }

    .content .box .title_details p {
        font-size: 6vw;
    }


}


@media (max-width: 530px) {

    .content .paret_box .child_box p {
        font-size: 5vw;
    }

    .content .box {
        display: flex;
        flex-direction: column;
    }

    .content .paret_box {
        width: 100%;
        margin-top: 40px;

    }

    .content .title_details p {
        position: relative;
        width: fit-content;
    }

    .content .paret_box .child_box h2 {
        font-size: 4.6vw;
    }



    .content .title_details {
        width: 100%;
        height: fit-content;



    }

    .content .title_details h1 {
        margin: 0;
        padding: 0;
        width: 100%;

        height: fit-content;
    }

}


@media (max-width: 400px) {
    .content .box .title_details h1 {
        font-size: 5.5vw;
        line-height: 1.4;
    }

    .content .box .title_details p {
        font-size: 9vw;
    }



}

/* End media Queray */