/* Sidebar section */
.sidebar {

    width: 350px;
    background-color: #36384e;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;

}


.fa-solid {
    display: none;
}


.sidebar .top_section {

    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 50px;
    

}
.sidebar .top_section img {
    width: 100px;
    margin-bottom: 40px;
    border: 3px solid white;
    border-radius: 100%;
    cursor: pointer;
}

.sidebar .top_section p {
    font-size: 30px;
}

.sidebar .top_section p.Description {
    font-size: 16px;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.6);

}

.sidebar .bottom_section {
    
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.sidebar .line {

    background-color: #8d99ae;
    border-radius: 10px;
    width: 100%;
    border: 1.5px solid #636686;
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
  

}

.sidebar .line.active {
    background-color: #2b2d42;

    
}

.sidebar .line.active p {
    color: #000000;
}

.sidebar .line:hover {
    transform: translateY(-5px);
}

.sidebar .line h4 {
    font-weight: bold;
    font-size: 22px;
    color: white;
    
}

.sidebar .line p {

    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;

}

.sidebar .log_out {
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    
}
/* Sidebar section */